<div id="container">
  <div class="row justify-content-center" id="phList">

  </div>
  <div class="row" style="margin-top: 10px"></div>
  <div class="row justify-content-center">
    <div class="col-6" id="AvaragePgGeu"></div>
    <div class="col-6" id="AvarageTdsGeu"></div>
  </div>

</div>
