app-mv-modal {
  /* modals are hidden by default */
  display: none;
}
app-mv-modal .app-mv-modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0%;
  /* z-index must be higher than .app-mv-modal-background */

  z-index: 1000;
  /* enables scrolling for tall modals */
  
  overflow: auto;
}
app-mv-modal .app-mv-modal-body {
  padding: 20px;
  background: #fff;
  /* margin exposes part of the modal background */
  margin: 15%;
  border-radius: 12px;
}
app-mv-modal .app-mv-modal-background {
  /* modal background fixed across whole screen */

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* semi-transparent black  */

  background-color: #000;
  opacity: 0.75;
  /* z-index must be below .app-mv-modal and above everything else  */

  z-index: 900;
}

