<div class="container pt-5">
  <header class="pageHeader">
    <h3><i class="fa fa-cog fa-lg page-caption" aria-hidden="true"></i> Ayarlar</h3>
  </header>

  <div class="row">
    <div class="col-sm-12 side-menu">
      <ngb-tabset>
        <ngb-tab title="Profil">
          <ng-template ngbTabContent>
            <app-user-info></app-user-info>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Seçenekler</ng-template>
          <ng-template ngbTabContent>
            <user-preferences></user-preferences>
          </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="canViewUsers">
          <ng-template ngbTabTitle>Kullanıcılar</ng-template>
          <ng-template ngbTabContent>
            <app-users-management></app-users-management>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

      <!--<ul bootstrapTab #tab="bootstrap-tab" class="nav nav-tabs" (showBSTab)="onShowTab($event)">-->
        <!--<li class="active">-->
          <!--<a id="profileTab" [routerLink]="[]" fragment="profile" href="#profile" data-toggle="tab"><i class="fa fa-user-circle-o fa-fw" aria-hidden="true"></i> Profil</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a id="preferencesTab" [routerLink]="[]" fragment="preferences" href="#preferences" data-toggle="tab"><i class="fa fa-sliders fa-fw" aria-hidden="true"></i> Seçenekler</a>-->
        <!--</li>-->
        <!--<li [hidden]="!canViewUsers">-->
          <!--<a id="usersTab" [routerLink]="[]" fragment="users" href="#users" data-toggle="tab"><i class="fa fa-users fa-fw" aria-hidden="true"></i> Kullanıcılar</a>-->
        <!--</li>-->
        <!--<li [hidden]="!canViewRoles">-->
          <!--<a id="rolesTab" [routerLink]="[]" fragment="roles" href="#roles" data-toggle="tab"><i class="fa fa-shield fa-fw" aria-hidden="true"></i> Roller</a>-->
        <!--</li>-->
      <!--</ul>-->
      <!--<div class="tab-content">-->
        <!--<div class="tab-pane active" id="profile">-->
          <!--<h4>Profil</h4>-->
          <!--<hr class="separator-hr" />-->
          <!--<div *ngIf="isProfileActivated" class="content-container">-->
            <!--<user-info></user-info>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="tab-pane" id="preferences">-->
          <!--<h4>Seçenekler</h4>-->
          <!--<hr class="separator-hr" />-->
          <!--<div *ngIf="isPreferencesActivated" class="content-container">-->
            <!--<user-preferences></user-preferences>-->
            <!--he-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="tab-pane" id="users">-->
          <!--<h4>Kullanıcılar</h4>-->
          <!--<hr class="separator-hr" />-->
          <!--<div *ngIf="canViewUsers && isUsersActivated" class="content-container">-->
            <!--&lt;!&ndash;<users-management></users-management>&ndash;&gt;-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="tab-pane" id="roles">-->
          <!--<h4>Roller</h4>-->
          <!--<hr class="separator-hr" />-->
          <!--<div *ngIf="canViewRoles && isRolesActivated" class="content-container">-->
            <!--&lt;!&ndash;<roles-management></roles-management>&ndash;&gt;-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>
