<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Seçenekler </label>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-5">
            <p class="form-control-static text-muted small"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="last-separator-hr" />
        </div>
    </div>

</div>
