<div class="container pt-5">
  <div class="vertical-center-flex">
    <div class="center-block">
      <div class="panel panel-primary">
        <div class="panel-body" *ngIf="!AfterRegister"[@fadeInOut]>
          <div class="col-md-5">
            <form *ngIf="formResetToggle" class="form-horizontal" name="loginForm" #f="ngForm" novalidate>
              <div class="form-group has-feedback">
                <label class="col-md-2" for="register-email">E-mail</label>
                <div class="col-md-10"
                  [ngClass]="{'has-success': f.submitted && email.valid, 'has-error' : f.submitted && !email.valid}">
                  <input type="text" id="register-email" name="email" placeholder="Email adresi giriniz."
                    class="form-control" [(ngModel)]="userRegister.email" #email="ngModel" required />
                  <span *ngIf="f.submitted" class="glyphicon form-control-feedback"
                    [ngClass]="{'glyphicon-ok ': email.valid, 'glyphicon-remove' : !email.valid}"
                    aria-hidden="true"></span>
                  <span class="errorMessage" *ngIf="email.error">
                    Email lütfen...
                  </span>
                </div>
              </div>

              <div class="form-group has-feedback">
                <label class="col-md-2" for="register-ad">Ad</label>
                <div class="col-md-10">
                  <input type="text" id="register-ad" name="ad" placeholder="Adınız"
                    class="form-control" [(ngModel)]="userRegister.ad" #ad="ngModel" required />
                  <span *ngIf="f.submitted" class="glyphicon form-control-feedback"
                    aria-hidden="true"></span>
                  <span class="errorMessage" *ngIf="ad.error">
                    Adınız lütfen...
                  </span>
                </div>
              </div>

              <div class="form-group has-feedback">
                <label class="col-md-2" for="register-soyad">Soyadınız</label>
                <div class="col-md-10">
                  <input type="text" id="register-soyad" name="email" placeholder="Soyadınız"
                    class="form-control" [(ngModel)]="userRegister.soyad" #soyad="ngModel" required />
                  <span *ngIf="f.submitted" class="glyphicon form-control-feedback"
                    [ngClass]="{'glyphicon-ok ': soyad.valid, 'glyphicon-remove' : !soyad.valid}"
                    aria-hidden="true"></span>
                  <span class="errorMessage" *ngIf="soyad.error">
                    Soyadınız lütfen...
                  </span>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <button  class="btn btn-primary" [disabled]="isLoading" (click)  ="register()"><i *ngIf="isLoading"
                      class='fa fa-circle-o-notch fa-spin'></i>
                    {{isLoading ? 'Kaydediliyor...' : 'Kullanıcı Oluştur'}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="panel-body" *ngIf="AfterRegister" [@fadeInOut]><h2>Tebrikler kullanıcınız oluşturuldu</h2>
          <p>{{userRegister.email}} adresinize geçici parolanız (bu hesabın geçici şifresi :{{geciciSifre}}) ve email aktivasyonunu içeren link 'e tıklayınız</p></div>
        <div class="panel-body" *ngIf="AfterRegister && EmailVar" [@fadeInOut]></div>
      </div>
    </div>
  </div>
</div>
