<ngx-toasta></ngx-toasta>
<ngx-ui-loader [loaderId]="'loading1'"></ngx-ui-loader>
<app-nav-menu></app-nav-menu>
<div id="mainContent" class="app-component mt-5">
    <button (click)="fullScreenVal ? closeFullscreen() : openFullscreen()" class="btn btn-danger"  style="position: fixed; bottom: 10px; right: 10px; ">
        <fa-icon [icon]="['fas', 'glasses']"></fa-icon>
      </button>
      <router-outlet></router-outlet>
</div>

<!-- <div id="footer">
  <div class="app-component navbar-fixed-bottom navbar-inner footer">
      <footer>
        <div class="app-component vcenter_text center-block">
          <p class="text-center text-muted">
             &copy;  hidromod V1.0 2018
          </p>
        </div>
      </footer>
  </div>
</div> -->
