<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top yellow">
  <a *ngIf="kullaniciAdi" class="navbar-brand" [routerLink]='["/"]'>{{kullaniciAdi}}</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainMenu"
    aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainMenu">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]='["/"]'>Ana sayfa <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="isUserLoggedIn" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]='["/grup"]'>Topluluk</a>
      </li>
      <li *ngIf="!isUserLoggedIn" class="nav-item">
        <a [routerLink]='["/login"]' class="nav-link">Giriş <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon></a></li>
        
      <li *ngIf="isUserLoggedIn" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]='["/settings"]' class="nav-link">
          <span class="glyphicon glyphicon-home"></span> Ayarlar</a></li>
      <li *ngIf="isUserLoggedIn" class="nav-item" routerLinkActive="active">
        <a routerLink="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
      <li *ngIf="isUserLoggedIn && isAdmin" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]='["/admin"]' class="nav-link"><span class="glyphicon glyphicon-home"></span> Yönetim</a></li>
      <li *ngIf="isUserLoggedIn" class="nav-item"></li>
    </ul>
    <div class="form-inline my-2 my-lg-0" style="margin-left:5px" *ngIf="isUserLoggedIn">
      <div class="col-6">

      </div>
      <div class="col-6 text-center">
          <a href="javascript:;" class="nav-link"  (click)="logout()">
              <span class="glyphicon glyphicon-log-out"></span> Çıkış <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon></a>
      </div>
    </div>
  </div>
</nav>
