@import "../node_modules/bootswatch/dist/Cyborg/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/Cyborg/bootswatch";

@import "~@ng-select/ng-select/themes/default.theme.css";
@import '../src/app/tools/modelView/modelView.less.css';
@import '../node_modules/ngx-toasta/styles/style-bootstrap.css';
@import '../node_modules/ngx-toasta/styles/style-material.css';
@import '../node_modules/flatpickr/dist/flatpickr.css';

#toasta.toasta-position-top-right {
  top: 20px;
  right: 20px;
}

#toasta .toast.toasta-theme-bootstrap {
  font-size: 1em;
  line-height: 1.5;
}

#toasta .toast.toasta-theme-bootstrap .toast-text .toast-title {
  font-size: 1.04em;
}

#toasta .toast-text .toast-msg {
  max-width: 1000px;
  max-height: 800px;
  display: inline-block;
  overflow: auto;
}
